body{
    background-color: #F5F5F5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    background-color: #E9E9E9;
    margin:auto;
    margin-top: 100px;

    width: 600px;

    box-shadow: 1px 3px 8px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
}
.header{
    padding: 0.9rem;
}
.flex-container{
    display: flex;
    background-color: #006B6B; 
    padding: 1.2rem;
}
.header-title{
    color: #000000;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1.2rem;
}
.header-subtitle{
    color: #009E9E;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 0.9rem;
}
.column{ 
    display: flex;
    width: 100%;
    background-color: #006B6B;
    color: #FFFFFF;
    padding: 0.1rem;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
}

.imagen1{
    text-align: center;
    margin-top: -8px ;
}
.button-register{
   margin: 10px;
   width: 30%;
   padding: 0.9rem 2rem;

   color: #006B6B;
   background-color: #CCCCCC;

   text-align: center;
  
   font-size: 1rem;

   border-radius: 4px;
   border: none;

   cursor: pointer;
}
.button-register:hover{
    background-color: #E9E9E9;
}
input{
    width: 95%;
    height: 22%;
    padding: 0.9rem;
    font-size: 1.2rem;
    border-radius: 5px;
    border: 0;
    margin: 10px;
}
input:focus{
    outline: none;
    box-shadow: 0 0 10px #009E9E;
}
a{
    color: #E9E9E9;
    font-size: 0.8rem;
}

@media screen and (max-width: 620px) {
    html{
        font-size: 10px;
    }
    .flex-container{
        flex-direction: column;
    }
    .column{
        width: 100%;
        box-sizing: border-box;
    }
    .container{
        width: 95%;
    }
}